//
   Created by YangShushuo on 2016/9/29 0029.

doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        title Tank
        link(rel="stylesheet" href="style/css/index.css")

    body
        canvas
    script(src="js/objects.js")
    script(src="js/view.js")
    script(src="js/controller.js")
    script(src="js/main.js")